/* Shop Page CSS */


.shop-header {
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/aston-martin-valhalla-101-1626200852.jpg?crop=1.00xw:0.847xh;0,0.153xh&resize=1200:*");
    background-size: cover;
    height: 700px;
    color: white; 
}

.shop-stats {
    color: white; 
}

h1 {
    position: absolute;
    color: white;
    left: 50%;
    bottom: 65%;
    font-size: 80px;
    transform: translate(-50%, -50%);
}

/* .img-fluid {
    margin-right: 30px;
} */
